<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'loginRegisterCSS.css' %} " />
</head>

<body>
  <h2> Sign in/up Form</h2>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <div class="formTag">
        <h1>Create Account</h1>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Username" name="userName" required />
        <input type="text" placeholder="First Name" name="firstName" required />
        <input type="text" placeholder="Last Name" name="lastName" required />
        <input type="email" placeholder="Email" name="email" required />
        <input type="password" placeholder="Password" name="password" required />
        <input type="password" placeholder="Confirm Password" name="confirmPassword" required />

        <button id="signUpSubmit">Sign Up</button>
      </div>
    </div>
    <div class="form-container sign-in-container">
      <div class="formTag">
        <h1>Sign in</h1>
        <span>or use your account</span>
        <input type="text" placeholder="Username" name="userName2" required />
        <input type="password" placeholder="Password" name="password2" required />
        
        <button id="signInSubmit">Sign In</button>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        {% csrf_token %}
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start the journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'loginRegisterJS.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script type="text/javascript">
    const signInButtonsubmit = document.getElementById("signInSubmit");
    signInButtonsubmit.addEventListener("click", function () {
      var userName2 = document.getElementsByName("userName2")[0].value;
      var password2 = document.getElementsByName("password2")[0].value;

      if (!userName2) {
        alert("Please enter a Username.");
        return;
      }

      if (!password2) {
        alert("Please enter a password.");
        return;
      }

      signin(userName2, password2);
    });

    const signUpButtonsubmit = document.getElementById("signUpSubmit");
    signUpButtonsubmit.addEventListener("click", function () {
      var userName = document.getElementsByName("userName")[0].value;
      var firstName = document.getElementsByName("firstName")[0].value;
      var lastName = document.getElementsByName("lastName")[0].value;
      var email = document.getElementsByName("email")[0].value;
      var password = document.getElementsByName("password")[0].value;
      var confirmPassword = document.getElementsByName("confirmPassword")[0].value;
      console.log("Signup action:", userName, firstName, lastName, email, password, confirmPassword);
      if (!userName || !firstName || !lastName || !email || !password || !confirmPassword) {
        alert("All fields are required.");
        return;
      }

      if (!validateEmail(email)) {
        return;
      }

      if (!validatePassword(password)) {
        return;
      }

      if (password !== confirmPassword) {
        alert("Passwords do not match.");
        return;
      }

      signup(userName, firstName, lastName, email, password, confirmPassword);
    });

    function validateEmail(email) {
      var emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

      if (!emailPattern.test(email)) {
        alert("Please enter a valid email address.");
        return false;
      }

      return true;
    }

    function validatePassword(password) {


      if (password == "") {
        alert("Password must contain at least one character.");
        return false;
      }

      return true;
    }

    function signup(userName, firstName, lastName, email, password, confirmPassword) {
      // Perform the signup action
      var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      // Use AJAX or other methods to send the data to the server for signup process
      console.log("Signup action:", userName, firstName, lastName, email, password, confirmPassword);
      console.log('--------------------------------')
      console.log('{% csrf_token %}')
      $.ajax({
        type: 'POST',
        url: 'http://127.0.0.1:8000/ragister/',
        data: {
          'csrfmiddlewaretoken': csrfmiddlewaretoken,
          'username': userName,
          'password': password,
          'email': email,
          'first_name': firstName,
          'last_name': lastName,
        },
        success: function (data) {
          alert('now login with your username and password')
        },
        error: function (xhr, textStatus, errorThrown) {
          // Handle the error response
          for (var x in xhr.responseJSON) {
            alert(xhr.responseJSON[x])
          } // Print the error response
        }

      });
    }

    function signin(userName2, password2) {
      console.log("Signin action:", userName2, password2);
      var csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      $.ajax({
        type: 'POST',
        url: 'http://127.0.0.1:8000/LoginUser/',
        data: {
          'csrfmiddlewaretoken': csrfmiddlewaretoken,
          'username': userName2,
          'password': password2,

        },
        success: function (data) {
          if (data.msg) {
            alert(data.msg)
          }
          else {
            window.location.href = "http://127.0.0.1:8000/chat/";
          }
        },
        error: function (xhr, textStatus, errorThrown) {
          // Handle the error response
          for (var x in xhr.responseJSON) {
            alert(xhr.responseJSON[x])
          } // Print the error response
        }

      });
    }
  </script>
</body>

</html>